services:
  discord-bot:
    build: .
    container_name: discord-bot
    restart: always
    networks:
      - bot-network
    volumes:
      - ./reactionRoles.json:/app/reactionRoles.json

networks:
  bot-network:
    driver: bridge
